*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.main_div{
  width: 100vw;
  min-height:100vh;
  overflow-x: hidden;
  
  
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 50px;
  background: radial-gradient(circle at 52.1% -29.6%, rgb(144, 17, 105) 0%, rgb(51, 0, 131) 100.2%);

}
.top{
  width:35vw;
  height: 10vh;
  background: radial-gradient(circle at 7.5% 24%, rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}
.middle{
  width:35vw;
  height: 10vh;
  background: radial-gradient(circle at 7.5% 24%, rgb(237, 161, 193) 0%, rgb(250, 178, 172) 25.5%, rgb(190, 228, 210) 62.3%, rgb(215, 248, 247) 93.8%);


  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  

}
.input-field{
  width: 50%;
  margin-right: 10px;
}

.card{
  width: 35vw;
 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);



}